<head>

	%include templates/parts/head.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Whats Next
			</h1>
			<p>
				Created by Kerem Goksel and Chris Piech
			</p>
			

		</div>
		<hr/>

		<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>


		
		%include templates/parts/footer.html

	</div>
</body>
